USE [master]
GO
/****** Object:  Database [REPF]    Script Date: 9.3.2024. 12:38:05 ******/
CREATE DATABASE [REPF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REPF', FILENAME = N'C:\Users\nebojsa.marjanovic\REPF.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REPF_log', FILENAME = N'C:\Users\nebojsa.marjanovic\REPF_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REPF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REPF]
GO
/****** Object:  Table [dbo].[HistoricalData]    Script Date: 9.3.2024. 12:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricalData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[RoomCount] [real] NOT NULL,
	[Month] [real] NOT NULL,
	[Date] [nvarchar](50) NOT NULL,
	[AveragePricePerSquareMeter] [real] NOT NULL,
 CONSTRAINT [PK_HistoricalData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealEstates]    Script Date: 9.3.2024. 12:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealEstates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Municipality] [nvarchar](50) NULL,
	[Neighborhood] [nvarchar](50) NULL,
	[Price] [real] NULL,
	[SquareFootage] [real] NULL,
	[Rooms] [real] NULL,
	[Floor] [real] NULL,
	[IsLastFloor] [bit] NULL,
	[HeatingType] [nvarchar](50) NULL,
	[HasElevator] [bit] NULL,
	[IsRegistered] [bit] NULL,
 CONSTRAINT [PK_RealEstates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
